.form {
  margin: 32px 0 64px;

  .handlers_container {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
  
    .handler_button {
      border-radius: 8px;
      padding: 16px 62px;
      border: 1px solid #7A5CFA;
      background: #FFF;
      color: #7A5CFA;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
    }
  
    .primaryButton {
      background: #7A5CFA;
      color: #FFF;
      margin-left: auto;
    }
  }
}

.radioItems_container {
  margin-bottom: 32px;

  .radioItems_label {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #666;
    margin-bottom: 8px;
  }
}
